.comment-form-modal {
    font-family: Arial, sans-serif;
}

.comment-form-modal p.error {
    color: red;
}

.comment-form-modal h1 {
    font-weight: bold;
}

.comment-form-modal button.feisty {
    font-weight: bold;
    color: red;
}

.comment-form-modal button.happy {
    font-weight: bold;
    color: purple;
}
