.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;

    hr {
        border: none;
        height: 2px;
        background: linear-gradient(to right, transparent, white, transparent);
        width: 75%;
        margin-bottom: 20px;
    }

    .balances {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .balance {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-bottom: 25px;

            header {
                width: 100%;
                margin-bottom: 10px;
            }

            .users {
                margin-bottom: 25px;

                .user {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 25px;

                    .warning {
                        color: red;
                    }
                }

                .user:last-child {
                    margin-bottom: 0;
                }
            }

            .users:last-child {
                margin-bottom: 0;
            }
        }

        .balance:last-child {
            margin-bottom: 0;
        }
    }
}
