.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 20px;

        .active {
            text-decoration: underline;
        }
    }

    hr {
        border: none;
        height: 2px;
        background: linear-gradient(to right, transparent, white, transparent);
        width: 75%;
        margin-bottom: 20px;
    }

    .container {
        .owe {
            .item {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 40px;

                header {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 20px;

                    .icon {
                        margin-right: 10px;
                    }

                    .who {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 58px;
                }
            }
        }
    }
}
